In [6]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.preprocessing import OneHotEncoder

In [5]:
file_path = r"D:\Git Repositories\AuctionScout-AI-powered-player-recommendations-for-IPL-auctions\dataset\bowlers_df.csv"
df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player_Name          197 non-null    object
 1   Deliveries_bowled    197 non-null    int64
 2   runs_conceded        197 non-null    int64
 3   wickets_taken        197 non-null    int64
 4   overs                197 non-null    int64
 5   bowling_average      197 non-null    float64
 6   bowling_strike_rate  197 non-null    float64
 7   economy              197 non-null    float64
 8   Recommendation       20 non-null     object
dtypes: float64(3), int64(4), object(2)
memory usage: 14.0+ KB

In [7]:
encoder = OneHotEncoder()

In [16]:
encoded_recommendations = encoder.fit_transform(df[['Recommendation']]).toarray()

In [19]:
enc_recommendations_df = pd.DataFrame(encoded_recommendations, columns=encoder.categories_[0])
enc_recommendations_df

     BUY  DON'T BUY  MAYBE  NaN
0    1.0        0.0    0.0  0.0
1    0.0        0.0    1.0  0.0
2    0.0        0.0    1.0  0.0
3    0.0        1.0    0.0  0.0
4    0.0        1.0    0.0  0.0
..   ...        ...    ...  ...
192  0.0        0.0    0.0  1.0
193  0.0        0.0    0.0  1.0
194  0.0        0.0    0.0  1.0
195  0.0        0.0    0.0  1.0
196  0.0        0.0    0.0  1.0

[197 rows x 4 columns]

In [20]:
enc_recommendations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BUY        197 non-null    float64
 1   DON'T BUY  197 non-null    float64
 2   MAYBE      197 non-null    float64
 3   nan        197 non-null    float64
dtypes: float64(4)
memory usage: 6.3 KB

In [23]:
new_df = pd.concat([df.drop(columns=['Recommendation']),enc_recommendations_df], axis=1)
new_df

,Player_Name,Deliveries_bowled,runs_conceded,wickets_taken,overs,bowling_average,bowling_strike_rate,economy,BUY,DON'T BUY,MAYBE,NaN
0,A Zampa,1248,1566,63,208,24.86,19.81,7.53,1.0,0.0,0.0,0.0
1,AC Agar,961,1118,36,160,31.06,26.69,6.99,0.0,0.0,1.0,0.0
2,AD Russell,184,283,7,30,40.43,26.29,9.43,0.0,0.0,1.0,0.0
3,ADS Fletcher,6,9,0,1,48.44,39.12,9.00,0.0,1.0,0.0,0.0
4,AF Milne,342,435,8,57,54.38,42.75,7.63,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
192,XA Crone,30,51,0,5,48.44,39.12,10.20,0.0,0.0,0.0,1.0
193,XC Bartlett,997,1383,60,166,23.05,16.62,8.33,0.0,0.0,0.0,1.0
194,Z Evans,159,268,13,26,20.62,12.23,10.31,0.0,0.0,0.0,1.0
195,Zahir Khan,492,620,18,82,34.44,27.33,7.56,0.0,0.0,0.0,1.0
196,Zaman Khan,96,136,8,16,17.00,12.00,8.50,0.0,0.0,0.0,1.0